<div class="grid">
  <div class="row">
    <div class="col-5 box">
      <div *ngFor="let fruit of fruits; let i = index">
        <div *ngIf="fruit.isChecked">
          <input type="checkbox" checked (click)="changeStatus(i)">
          <label>{{fruit.name}}</label>
        </div>
      </div>
    </div>

    <div class="col-2"></div>
    
    <div class="col-5 box">
      <div *ngFor="let fruit of fruits; let i = index">
        <div *ngIf="!fruit.isChecked">
          <input type="checkbox" (click)="changeStatus(i)">
          <label>{{fruit.name}}</label>
        </div>
      </div>
    </div>
  </div>
</div>